@model List<FoursquareClientAssignment.Models.VenueSearchResultModel>

@foreach (var item in @Model)
{
    <tr>
        <td><a href=@String.Format("https://foursquare.com/v/{0}", item.Id) target="_blank">@item.Name</a></td>
        <td>@item.CheckinCount</td>
        <td>@item.HereNow</td>
    </tr>
}